@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:#f05537;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-weight: 600;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background:white;
    /* text-decoration: none; */
}

section{
    padding:2rem 9%;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:black;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    /* background:#feebc8; */
    color:black;
    cursor: pointer;
    font-weight: 600;
}
/* 
.btn .submit:hover{
    background:var(--main-color);
} */


.login-1{
    font-size: 3rem;
    padding-left: 40%;
    padding-bottom: 20%;
     color:var(--main-color);
    

}



.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #feebc8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:black;
    font-size: 3.5rem;
      text-decoration: none;
}


.header .logo span{
    color:var(--main-color);

}

.header .navbar a{
    font-size: 1.7rem;
    color:black;
    margin-left: 2rem;
    text-decoration: none;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color: black;
    cursor: pointer;
    display: none;
}





.footer{
    background:#111;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    text-decoration: none;

}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:white;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
    text-decoration: none;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:white;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:white;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}

.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: #333;
    z-index: 1000;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:white;
    padding:1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding:1.3rem 1.5rem;
    background:#333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:white;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}
.fab{
    color: #f5f4f4
}

.fa-brands :hover{
    background:var(--main-color);
}
@keyframes spin {
    0%{
        transform: rotate(360deg);
    }
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#222;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }

}
/* 


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap'); */

*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-image{
    background-image: url("login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}
img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p{
    color: #fff;
    font-size: 18px;
}
i{
    font-weight: 400;
    font-size: 15px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    box-sizing: border-box;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    color:var(--main-color);
    font-size: medium;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 16px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 16px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
}
.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
    font-size: 1.6rem;
}
.submit:hover{
    background: var(--main-color);
    color:white;
}
.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: none;
    color: #000;
}
@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
}